################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library-management-system-backend/FileContentIndex
/Lms-backend/aspnet-core/.vs/LmsBackend/FileContentIndex
